html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #4a4a4a;
  margin-top: 36px;
  width: 400px;
}
body a {
  text-decoration: none;
}

header {
  background-color: yellow;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  border-bottom: 2px solid #a9a9a9;
}
header #logo {
  font-size: 20px;
  font-family: "Courgette", cursive;
}
header #actions {
  float: right;
}
header #actions button {
  padding: 2px 3px;  
}

footer {
  padding: 5px 20px 5px 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(224, 224, 224);
}
footer #search {
  width: 100%;
  padding: 5px;
}

#main {
  min-height: 100%;
  padding: 10px 5px 5px 5px;
  overflow: auto;
}
#main li > span > span {
  padding-left: 10px;
}
#main > #sessions > ul {
  padding-left: 0;
}
#main > #sessions > ul > li {
  list-style: none;
  margin-bottom: 10px;
}
#main > #sessions > ul > li > ul {
  list-style: none;
  padding-left: 0px;
}
#main > #sessions > ul > li > span > a {
  font-size: 1.3em;
  font-weight: bold;
}
#main > #sessions > ul > li > ul > li > span > a {
  text-decoration: none;
  padding-left: 20px;
  padding-top: 10px;
}
